@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* customize the scrollbar design */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #80be1f;
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #699f12;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.cursive-text {
  font-family: 'Indie Flower', cursive;
}
